@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'NotoSansJP';
    src: url('../NotoSansJP-VariableFont_wght.ttf');
  }
  html {
    font-family: 'NotoSansJP';
  }
  body {
    /*スマホで勝手に文字が大きくなる対策*/
    -webkit-text-size-adjust: 100%;
  }

  .googlemap-bw iframe {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
