.d-n {
  display: none !important;
}

.arrow-top {
  border-top: solid 1px #fff;
  border-left: solid 1px #fff;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.arrow-bottom {
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

/* アニメーション */
.section-animation {
  opacity: 0;
  animation-name: default-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.slideIn {
  animation-name: SlideIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.slideOut {
  animation-name: SlideOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.logo-animation {
  animation-name: logo-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.bgc-animation {
  animation-name: bgc-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.zoom-animation {
  animation-name: zoom-animation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.menu-fadein {
  animation-name: menu-fadein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.menu-fadeout {
  animation-name: menu-fadeout;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.menu-fadeout ul {
  animation-name: menu-fadeout-ul;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.section-description {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 1s;
  transform: translateX(0%);
  opacity: 1;
}

.section-description.close {
  transform: translateX(100%);
  opacity: 0;
}

@keyframes default-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes section-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 1;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes SlideOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes logo-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgc-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes menu-fadein {
  0% {
    opacity: 0;
    height: 0px;
  }
  1% {
    height: calc(100vh - 20px);
  }
  100% {
    opacity: 0.93;
    height: calc(100vh - 20px);
  }
}

@keyframes menu-fadeout {
  0% {
    opacity: 0.93;
    height: calc(100vh - 20px);
  }
  99% {
    height: calc(100vh - 20px);
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

@keyframes menu-fadeout-ul {
  0% {
    height: auto;
  }
  99% {
    height: auto;
  }
  100% {
    height: 0px;
  }
}
