.slick-dots {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0 15px;
  width: 15px;
  height: 15px;
}

.slick-dots li button {
  position: relative;
  text-indent: -9999px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.45);
}

.slick-dots .slick-active button {
  background-color: #fff;
}
